@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .end {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding: 2rem;
    color: white;
  }
}

@layer components {
  .section {
    @apply px-20 py-16;
  }
  .image-text {
    @apply grid;
    @apply gap-8;
    @apply md:[grid-template-areas:'image''text'];
    @apply md:[grid-template-areas:'image_text'];
    @apply items-center justify-items-center;
  }

  .text-image {
    @apply grid;
    @apply gap-8;
    @apply md:[grid-template-areas:'image''text'];
    @apply md:[grid-template-areas:'text_image'];
    @apply items-center justify-items-center;
  }

  .image {
    @apply md:[grid-area:image];
  }

  .text {
    @apply md:[grid-area:text];
  }

  .sections {
    > div:nth-child(odd) {
      @apply bg-odd-background;
      @apply text-odd-text;
    }

    > div:nth-child(even) {
      @apply bg-even-background;
      @apply text-even-text;
    }
  }
}
