@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0b4450ff;
  background-color: #e7d4b8ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-color {
    > div:nth-child(odd) {
      @apply bg-odd-background;
      @apply text-odd-text;
    }

    > div:nth-child(even) {
      @apply bg-even-background;
      @apply text-even-text;
    }
  }
}

@layer components {
  .section {
    @apply px-20 py-16;
  }
  .image-text {
    @apply grid;
    @apply gap-8;
    @apply md:[grid-template-areas:'image''text'];
    @apply md:[grid-template-areas:'image_text'];
    @apply items-center justify-items-center;
  }

  .text-image {
    @apply grid;
    @apply gap-8;
    @apply md:[grid-template-areas:'image''text'];
    @apply md:[grid-template-areas:'text_image'];
    @apply items-center justify-items-center;
  }

  .image {
    @apply md:[grid-area:image];
  }

  .text {
    @apply md:[grid-area:text];
  }
}
